<div class="animated fadeIn">
  <div class="card">
    <div class="card-header-blue">
      <span class="font-weight-bold mt-2">
        {{ title }} Menu
      </span>
    </div>
    <div class="card-body">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="form"
      >
        <div class="row">
          <div class="col-12 col-sm-6">

            <!-- Title -->
            <fieldset class="form-group">
              <label class="col-form-label required" for="subject">Subject</label>
              <input
                [class.is-invalid]="isFieldInvalid(form, 'subject')"
                class="form-control"
                formControlName="subject"
                id="subject"
                name="subject"
                type="text"
                placeholder="Subject Complain"
              />
              <ng-container *ngIf="isFieldInvalid(form,'subject')">
                <div *ngIf="form.get('subject').hasError('required')" class="invalid-feedback">
                  Subject is required
                </div>
              </ng-container>
            </fieldset>

            <!-- No Card -->
            <fieldset class="form-group">
              <label class="col-form-label required" for="module-id">No Card</label>
              <ng-select
                [items]="noCard"
                [typeahead]="noCardTypeahead$"
                (focus)="noCardTypeahead$.next()"
                [loading]="noCardLoading"
                bindLabel="cardNumber"
                bindValue="id"
                formControlName="cardId"
                id="no-card-id"
                placeholder="Select card number"
              >
                <ng-template let-searchTerm="searchTerm" ng-notfound-tmp>
                  <div class="ng-option disabled">
                    No data found for "{{searchTerm}}"
                  </div>
                </ng-template>
                <ng-template let-searchTerm="searchTerm" ng-loadingtext-tmp>
                  <div class="ng-option disabled">
                    Fetching data for "{{searchTerm}}"
                  </div>
                </ng-template>
              </ng-select>
            </fieldset>

            <!-- Category -->
            <fieldset class="form-group">
              <label class="col-form-label required" for="icon">Category</label>
              <ng-select
                [items]="categories"
                [virtualScroll]="true"
                bindLabel="name"
                bindValue="value"
                formControlName="category"
                groupBy="groupName"
                id="category"
                labelForId="category"
                placeholder="Select category"
              >
                <ng-template
                  let-name="item.name"
                  let-value="item.value"
                  ng-label-tmp
                >
                  {{ name }}
                </ng-template>
                <ng-template
                  let-groupName="item.groupName"
                  let-index="index"
                  ng-optgroup-tmp
                >
                  Select <b>"{{ groupName }}"</b>
                </ng-template>
                <ng-template
                  let-name="item.name"
                  let-value="item.value"
                  ng-option-tmp
                >
                  <i [class]="'icons ' + value"></i>
                  {{ name }}
                </ng-template>
              </ng-select>
            </fieldset>

          </div>
          <div class="col-12 col-sm-6">

            <!-- Complain Text -->
            <fieldset class="form-group">
              <label class="col-form-label required" for="textarea-input">Complain</label>
              <textarea
                [class.is-invalid]="isFieldInvalid(form, 'complainDetail')"
                class="form-control"
                formControlName="complainDetail"
                id="complainDetail"
                name="complainDetail"
                placeholder="Explain your complain . . ."
                rows="9"></textarea>
                <ng-container *ngIf="isFieldInvalid(form,'complainDetail')">
                  <div *ngIf="form.get('complainDetail').hasError('required')" class="invalid-feedback">
                    Complain is required
                  </div>
                </ng-container>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col form-group">
            <div class="form-actions submit-button mt-5">
              <ng-template [ngIfElse]="falseEditable" [ngIf]="editable">
                <button class="btn btn-sm btn-primary" type="submit">
                  <i class="fa fa-check"></i> Submit
                </button>&nbsp;
              </ng-template>
              <ng-template #falseEditable>
                <button [routerLink]="['edit']" class="btn btn-sm btn-success" type="button">
                  <i class="fa fa-edit"></i> Edit
                </button>&nbsp;
              </ng-template>
              <button (click)="location.back()" class="btn btn-sm btn-secondary cancel-buttons" type="button">
                <i class="fa fa-close"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
